### Análise de Custos Hospitalares

#### Será realizada a análise de dados hospitalar de um hospital dos EUA. A base de dados contêm 1338 linhas e 6 colunas que apresentam as seguintes informações: **idade, sexo, crianças, fumantes, região e total gasto com seguro**. O objetivo da análise é determinar quais efeitos elevam o custo de seguro e criar um modelo de Regressão Linear Múltipla que possa prever o custo do seguro de saúde com base nos fatores que influenciam.

In [1]:
# importar as bibliotecas
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
import warnings 
warnings.filterwarnings('ignore')

In [2]:
data = pd.read_csv('insurance.csv')

In [3]:
data.describe()

               age          bmi     children      expenses
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.665471     1.094918  13270.422414
std      14.049960     6.098382     1.205493  12110.011240
min      18.000000    16.000000     0.000000   1121.870000
25%      27.000000    26.300000     0.000000   4740.287500
50%      39.000000    30.400000     1.000000   9382.030000
75%      51.000000    34.700000     2.000000  16639.915000
max      64.000000    53.100000     5.000000  63770.430000

#### A biblioteca *sklearn* possui uma feature de pré processamento chamada de LabelEncoder que classifica os dados que são categóricos para numéricos. Vamos aplica-lá as colunas **Sexo, fumantes e região**.

In [4]:
label = LabelEncoder()

In [5]:
#sexo
# .fit() -> Processo de treino para que o algoritmo possa entender os tipos de dados
sex = label.fit(data.sex)
# .transform -> Processo para transformar os tipos de dados
data.sex = label.transform(data.sex)
# fumantes
smoker = label.fit(data.smoker)
data.smoker = label.transform(data.smoker)
# região
region = label.fit(data.region)
data.region = label.transform(data.region)

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   int32
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   int32
 5   region    1338 non-null   int32
 6   expenses  1338 non-null   float64
dtypes: float64(2), int32(3), int64(2)
memory usage: 57.6 KB

In [7]:
data.head()

   age  sex   bmi  children  smoker  region  expenses
0   19    0  27.9         0       1       3  16884.92
1   18    1  33.8         1       0       2   1725.55
2   28    1  33.0         3       0       2   4449.46
3   33    1  22.7         0       0       1  21984.47
4   32    1  28.9         0       0       1   3866.86